.gs-button {
  background: $gs-btn-bg;
  color: $color-white;
  padding: 10px 20px;
  font-size: 24px;
  border-radius: 5px;
  text-decoration: none;
  transition: all .2s;

  &:hover {
    background: $gs-btn-hover-bg;
    color: $color-white;
    text-decoration: none;
  }
}

.btn-purple {
  color: $color-primary;
  background-color: $color-white;
  border-color: $color-primary;
  transition: all .2s;

  &:hover {
    color: $color-white;
    background-color: $color-primary;
    border-color: $color-primary;
  }
}

.btn-purple-inv {
  color: $color-white;
  background-color: $color-primary;
  border-color: $color-white;
  transition: all .2s;

  &:hover {
    color: $color-primary;
    background-color: $color-white;
    border-color: $color-primary;
  }
}

.btn-red {
  color: $color-white;
  background-color: $color-secondary;
  border-color: $color-secondary;
  transition: all .2s;

  &:hover {
    color: $color-white;
    background-color: darken($color-secondary, 10%);
    border-color: darken($color-secondary, 10%);
  }
}

.btn-white {
  color: $color-secondary;
  background-color: $color-white;
  border-color: $color-white;
  transition: all .2s;

  &:hover {
    color: $color-secondary;
    background-color: darken($color-white, 10%);
    border-color: darken($color-white, 10%);
  }
}

.featured-item-cta-btn {
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
  min-width: 120px;
  color: $color-secondary;
  border: 1px solid $color-secondary;
  background-color: $color-white;
  border-radius: 3px;
  font-size: 16px;
  line-height: 35px;

  @media (min-width: 990px) {
    line-height: 40px;
  }

  &:hover,
  &:focus {
    color: $color-white;
    background-color: $color-secondary;
    text-decoration: none;
    outline: 0;
  }

  &.white-on-primary {
    color: $color-white;
    border: 1px solid $color-white;
    background-color: transparent;

    &:hover,
    &:focus {
      color: $color-primary;
      background-color: $color-white;
    }
  }
}

.btn-margin-top {
  margin-top: 15px;
}

.cta-btn {
  display: inline-block;
  padding: 4px 30px;
  font-size: 18px;
  line-height: 40px;
  min-width: 140px;

  &.large {
    padding: 8px 20px 9px;
    font-size: 18px;
  }

  &.red {
    background-color: $color-secondary;
    color: $color-white;

    &:hover {
      background-color: darken($color-secondary, 5%);
    }
  }

  &.white {
    background-color: $color-white;
    color: $color-secondary;

    &:hover {
      background-color: darken($color-white, 5%);
    }
  }

  &.white-with-border {
    background-color: $color-white;
    color: $color-secondary;
    border: 1px solid $color-secondary;

    &:hover {
      color: $color-white;
      background-color: $color-secondary;
      text-decoration: none;
      outline: 0;
    }
  }

  // sass-lint:disable-all
  &.orange {
    background-color: $color-accent;
    color: $color-white;

    &:hover {
      background-color: $color-accent-alt;
      color: $color-white;
    }
  }

  &.orange-light {
    background-color: $color-self-managed-accent;
    color: $color-white;

    &:hover {
      background-color: $color-accent;
      color: $color-white;
    }
  }

  &.accent {
    background-color: $color-accent;
    color: $color-white;

    &:hover {
      background-color: $color-accent-alt;
    }
  }

  &.ghost {
    border: 1px solid $color-white;
    background-color: transparent;
    color: $color-white;

    &:hover {
      border-color: $color-accent;
      background-color: $color-accent;
    }
  }

  &.ghost-orange {
    border: 2px solid $color-accent;
    background-color: transparent;
    color: $color-accent;

    &:hover {
      border-color: $color-accent-alt;
      color: $color-accent-alt;
    }
  }

  &.ghost-accent {
    border: 1px solid $color-accent;
    background-color: transparent;
    color: $color-accent;

    &:hover {
      border-color: $color-accent-alt;
      background-color: $color-accent;
      color: $color-white;
    }
  }

  &.ghost-purple {
    border: 2px solid $color-primary;
    background-color: transparent;
    color: $color-primary;

    &:hover {
      border-color: $color-primary-dark;
      color: $color-primary-dark;
    }
  }

  &.ghost-primary {
    border: 1px solid $color-primary;
    background-color: transparent;
    color: $color-primary;

    &:hover {
      background-color: $color-primary;
      color: $color-white;
    }
  }

  &.purple {
    background-color: $color-primary;
    color: $color-white;

    &:focus,
    &:hover {
      background-color: $color-primary-dark;
    }
  }

  &.purple-reverse {
    $lt-purple-accent: #3c257b;
    border: 1px solid $color-white;
    background-color: $lt-purple-accent;
    color: $color-white;

    &:hover {
      border-color: $lt-purple-accent;
      background-color: $color-white;
      color: $lt-purple-accent;
    }
  }

}

.btn-nav-cta {
  .navbar & {
    padding: 4px 10px;
    background-color: $color-self-managed-accent;
    color: $color-white;
    font-size: 16px;
    font-weight: 700;  

    &:hover {
      background-color: $color-accent;
      color: $color-white;
    }
  }

  .navbar .navbar-left & {
    padding: 4px 10px;
    font-size: 15px;
    font-weight: 400;
  }
}

.btn-primary {
  background-color: $color-primary;
  color: $color-white;

  &:hover {
    background-color: $color-primary-dark;
  }

}

.copy-btn {
  background-color: transparent;
  margin: 5px;
  padding: 5px;
  border-color: transparent;
  color: $color-primary-alt;

  &:hover,
  &:focus {
    color: $color-dark;
  }
}


.btn-pricing {
  min-width: 146px;
  padding: 6px 20px;
  border-color: transparent;
  color: $color-white;
  font-weight: normal;
  line-height: 1;

  &:hover,
  &:focus {
    background-color: $color-white;
  }
}

.btn-self-managed {
  background-color: $color-primary;

  &:hover,
  &:focus {
    border-color: $color-primary;
    color: $color-primary;
  }
}

.btn-saas {
  background-color: $color-primary;

  &:hover,
  &:focus {
    border-color: $color-primary;
    color: $color-primary;
  }
}
